.datable {
  margin-bottom: 1em;
  overflow: auto;
}
table.datable {
  border-spacing: 0;
  text-align: center;
  width: 100%;
}
.datable caption {
  font-weight: bold;
  position: relative;
}
.datable tbody {background-color: white}
.datable tr:nth-of-type(even) {background-color: #eee}
.datable th, td {padding: 5px 0}
.datable th {
  background-color: lightblue;
  border-width: 1px;
  border-style: solid;
  border-color: white #aaa #aaa white;
}
.datable th:first-child {border-radius: .5em 0 0 0}
.datable th:last-child {border-radius: 0 .5em 0 0}
.datable td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.datable td label {margin: 0 20px}
.datable a, .datable button {margin: 0 .1em}
.datable input[type=text], .datable input[type=email], .datable input[type=number] {
  width: 100%;
  box-sizing: border-box;
}
tr.selection {
  color: white;
  background-color: #37f !important;
}
.act {
  position: absolute;
  left: 0;
  bottom: 0;
}
